<div class="preview-header">
  <div class="preview-header-title">
    {{title}}

    <span ng-if="working" class="preview-loader">
      <span ng-include="'tpl/loader.html'"></span>
    </span>

  </div>



  <div class="preview-header-buttons">
    <button ng-class="{active:zoom==0}" ng-disabled="zoom==0" ng-click="$fit()" class="btn"><span ng-class="hasScrolls?'icon-shrink':'icon-enlarge'"></span></button>
    <button ng-class="{active:zoom==1}" ng-disabled="zoom==1" ng-click="zoom=1" class="btn">1x</button>
    <button ng-click="$zoom(false)" class="btn"><span class="icon-zoom-out"></span></button>
    <button ng-click="$zoom(true)" class="btn"><span class="icon-zoom-in"></span></button>


    <span class="custom-select">
      <label>{{(zoom==0?'Fit (':'')+(currentScale*100|number:(zoom==0?1:0))+(zoom==0?'%)':'%')}}</label>
      <select ng-options="zoom.value as zoom.label for zoom in zooms" ng-model="zoom"></select>
    </span>
  </div>
</div>
<div class="preview-content">
<!-- <div class="preview-container" ng-style="$contain()"> -->
  <div class="preview" ng-style="$style()"></div>
<!-- </div> -->
<!-- <div class="zoom-hidden"><div class="zoom-big"></div></div> -->

</div>
