body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 13px;
  background-color: #161516;
  color: #eee;
  margin: 0;
  -webkit-user-select: none;
}
hr {
  background: none;
  border: 0;
  height: 10px;
}
a {
  color: #eee;
  text-decoration: underline;
}
a:hover {
  color: #fff;
}

a.btn {
  background-color: #3A393B;
  padding: 7px 15px;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
}
a.disabled,
a.btn.disabled {
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
}
a.btn.disabled:hover {
  cursor: not-allowed;
}
a.btn:hover {
  background-color: #555;
}
a.btn:active {
  background-color: #333;
}
a.btn.btn-primary {
  color: #3A393B;
  background-color: #EE6352;
}
a.btn.btn-primary:hover {
  background-color: #F49B90;
}

a.btn.btn-small {
  font-size: 12px;
  padding: 5px 10px;
}


.app {
  display: flex;
  flex-direction: row;
  height: 100vh;
}
.app .section {
  height: 100vh;
}
.app .section .section-title {

  border-bottom: 1px solid #444;
  padding: 7px 0;
  font-weight: normal;
  font-size: 12px;
  color: #aaa;
  margin: 20px 0 10px 0;

  /*font-size: 14px;
  font-weight: normal;
  border-bottom: 1px solid #444;
  padding-bottom: 10px;*/
}
.app .section .section-title:first-child {
  margin-top: 10px;
}
.app .section.settings-form {
  flex: 0;
  min-width: 280px;
  background: #1a1a1a;
  padding: 0 20px;
  overflow: auto;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.45);
}
.app .section.preview {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.top-header {
  flex: 0 1 auto;
  padding: 20px;
  text-align: right;
  background: #1a1a1a;
  display: flex;
  flex-direction: row;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.45);
  /*border-bottom: 1px solid #000;*/
}
.top-header .scrubber {
  flex: 1 1 auto;
  padding-right: 20px;
  display: flex;
  flex-direction: row;
}
.top-header .scrubber .scrubber-frame {
  flex: 0 0 auto;
  min-width: 30px;
  text-align: center;
}
.top-header .scrubber .scrubber-bar {
  flex: 1 1 auto;
  padding: 0 10px;
}
.top-header .scrubber input {
  width: 100%;
}
.top-header .export {
  flex: 0 0 auto;
  min-width: 100px;
}

.progress-canvas {
  flex: 1 1 auto;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.progress-canvas .progress-canvas-container {
  width: 80%;
  text-align: center;
  padding: 20px;
  margin: -100px auto 0 auto;
  /*background: #333;*/
  /*box-shadow: 1px 1px 3px rgba(0,0,0,0.35);*/
}
.progress-canvas h4 {
  margin: 20px 0 0 0;
  padding: 0;
}
.progress-canvas p {
  color: #aaa;
}
.progress-canvas .spinner-icon {
  display: block;
}
.progress-canvas .spinner-icon svg {
  width: 70px;
  height: 70px;
}


.preview-canvas {
  /*height: 100%;*/
  flex: 1 1 auto;
  justify-content: center;
  align-items: center;
  display: flex;
  overflow: auto;

  /*justify-content: center;*/
  /*align-items: center;*/
  /*align-content: center;*/
}
.preview-img {
  min-width: 320px;
  min-height: 240px;
  width: 100%;
  height: auto;
  box-shadow: 1px 0px 5px rgba(0,0,0,0.5);
}

.preview-canvas .preview-div {
  display: flex;
  flex: 1 1 auto;
  background: #aaa;
  width: 100%;
  height: 100%;
  min-width: 320px;
  min-height: 240px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  margin: auto;
}

/*
.preview-canvas .preview-wrap {
  width: 100%;
  max-width:100%;
  height:auto;
}
.preview-canvas .preview-wrap .preview-div {
  display: block;
  margin: auto;
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
}*/

.palette-control {
  /*padding: 10px;*/
  width: 100%;
  /*padding-bottom: 100%;*/
  position: relative;
  margin-top: 15px;
  /*background: #191919;*/
  /*box-shadow: inset 1px 1px 20px #101010;*/
}
.palette-control:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
.palette-control .palette {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  image-rendering: pixelated;
}




input[type="text"],
input[type="number"] {
  background: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 12px;
  color: #fff;
  padding: 5px;
  border: 0;
}

input[type="number"] {
  width: 45px;
}

input[type="text"]:disabled,
input[type="number"]:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.custom-select {
  display: inline-block;
  position: relative;
  background: #333;
}
.custom-select.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.custom-select:after {
  position: absolute;
  display: block;
  content: '';
  width: 0;
  height: 0;
  top:50%;
  right:7px;
  margin-top: -2px;
  border-top: 5px solid #fff;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  pointer-events: none;
}
.custom-select select {
  font-size: 12px;
  outline: none;
  -webkit-appearance:none;
  background-color: transparent;
  min-width: 40px;
  padding: 5px 25px 5px 5px;
  border: 0;
  border-radius: 0;
  color: #fff;
}
.custom-range {
  display: flex;
  flex-direction: row;
}
.custom-range .custom-range-value {
  flex: 0;
  margin-right: 10px;
  font-size: 11px;
  /*min-width: 20px;*/
}
.custom-range .custom-range-input {
  flex: 1;
}


.form-group {
  margin: 0;
  vertical-align: top;
}
.form-group:last-child {
  margin: 0;
}
.form-group.form-group-inline {
  display: inline-block;
  margin-right: 20px;
}
.form-group .form-control {
  min-height: 30px;
  line-height: 30px;
}
.form-group h5 {
  font-size: 11px;
  font-weight: normal;
  color: #aaa;
  margin: 10px 0;
  padding: 0;
  /*text-transform: uppercase;*/
  /*letter-spacing: 1px;*/
}
h6 {
  border-bottom: 1px solid #444;
  padding: 10px 0;
  font-weight: normal;
  font-size: 11px;
  color: #aaa;
  margin: 0;
}




::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
  background: transparent;
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
}

::-webkit-scrollbar-thumb {
  background-color: #323232;
  border: none;
  outline: none;
  /*outline: 1px solid slategrey;*/
  border-radius: 20px;
}
::-webkit-scrollbar-corner       {
  background-color: transparent;
}

.input {
  display: block;
}
.input .change-it {
  display: none;
}
.input:hover .change-it {
  display: inline-block;
  color: #aaa;
  margin-left: 5px;
}


.install {
  width: 80%;
  max-width: 800px;
  margin: 80px auto;
  background: #111;
  padding: 30px;
}

.install p {
  font-size: 14px;
  line-height: 1.5;
}

.pixel-palette {
  width: 100%;
  display: block;
  position: relative;
}
.pixel-picker {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  z-index: 999;
  background: #2a2a2a;
  padding: 20px;
  /*margin-top: 36px;*/
  /*margin-left: -7px;*/


      margin-top: -266px;
      margin-left: -7px;
}

.pixel-picker:after {
  position: absolute;
  content:'';
  bottom: -19px;
  left: 0px;
  border-top: 20px solid #2a2a2a;
  border-right: 20px solid transparent;
  border-left: 20px solid transparent;
}
.minicolors-panel {
  height: 152px;
}
.pixel-picker.open {
  display: block;
}
.pixel-picker .hex-control {
  display: flex;
  padding: 5px 0;
  flex-direction: row;
}
.pixel-picker .hex-control .hex-input-wrapper {
  flex: 0;
}
.pixel-picker .hex-control .color-preview {
  flex: 1;
  height: 24px;
  display: block;
}


.pixel-picker .hex-control input {
  width: 50px;
  font-family: monospace;
  font-size: 12px;
  text-align: center;
}
.pixel-picker .picker-actions {
  padding: 0 0 10px 0px;
}
.pixel-picker .picker-control {
  display: block;
  clear: both;
}
.pixel-palette .pixel {
  width: 17.5px;
  height: 17.5px;
  float: left;
}
.pixel-palette .pixel:hover,
.pixel-palette .pixel.on {
  box-shadow: 1px 1px 5px #000;
  transform: scale(1.5);
}
.progress {
  height: 20px;
  width: 50vw;
  position: relative;
  background: #101010;
  margin: 0 auto;
}
.progress .progress-fill {
  height: 20px;
  background: #46CCF3;
  position: relative;
}
.progress .progress-fill.finished {
  background-color: #57A773;
}
/* Styles go here */
.progress .progress-fill.spin {
  /*width: 300px;
  height: 50px;*/
  width: 100% !important;
  opacity: 0.5;
  background-image: repeating-linear-gradient(-45deg, #101010, #101010 25px, #46CCF3 25px, #46CCF3 50px);
  -webkit-animation:progress 1s linear infinite;
  -moz-animation:progress 1s linear infinite;
  -ms-animation:progress 1s linear infinite;
  animation:progress 1s linear infinite;
  background-size: 150% 100%;
}

@-webkit-keyframes progress{
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -75px 0px;
  }
}
@-moz-keyframes progress{
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -75px 0px;
  }
}
@-ms-keyframes progress{
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -75px 0px;
  }
}
@keyframes progress{
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -70px 0px;
  }
}


.progress-info {
  display: flex;
  flex-direction: row;
  width: 50vw;
  margin: 0 auto;
}
.progress-text {
  padding: 10px 0;
  margin: 10px 0;
  font-size: 14px;
  flex: 1;
  color: #aaa;
}
.progress-text.finished {
  color: #57A773;
}

.progress-action {
  padding: 10px 0;
  margin: 10px 0;
  flex: 1;
  text-align: right;

}
.progress-action a {
  margin-right: 10px;
}
.progress-action a.btn {
  margin-right: 0;
}
.progress-text-percent {
  font-weight: bold;
  display: inline-block;
  color: #fff;
}
.progress-text-size {
  font-size: 11px;
  margin-left: 5px;
  display: inline-block;
}
