@import url("../lib/icomoon/style.css");
/*@import url("../lib/imageviewer/imageviewer.css");*/

[class^="icon-"], [class*=" icon-"] {
  position: relative;
  top: 1px;
}
html,body {
  height: 100%;
}
body {
  background: #161516;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #eee;
  margin: 0;
}
.text-muted {
  color: #aaa;
}

button, .btn {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1em;
  font-weight: 700;
  padding: 7px 20px;
  background-color: transparent;
  /*background-color: #202021;*/
  color: #fff;
  border: 0;
  display: inline-block;
  outline: none;
}
button:hover,
.btn:hover {
  color: #46CCF3;
  cursor: pointer !important;
}
button:disabled,
.btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
  /*background-color: #3A393B !important;*/
  /*color: #161516;*/
}
.btn-default { background-color: #202021; color: #fff; }
.btn-default:hover { background-color: #343435; color: #fff; }
.btn-default:hover { background-color: #1B1B1C; color: #eee; }

.btn-primary { background-color: #EF7161; color: #161516; }
.btn-primary:hover { background-color: #F18A7D; color: #161516; }
.btn-primary:active { background-color: #C45D50; color: #000; }

button.active,
button.active:hover,
button.active:active,
.btn.active:hover,
.btn.active,
.btn.active:active {
  color: #46CCF3;
  cursor: pointer !important;
}
.btn-lg {
  font-size: 16px;
  padding: 10px 25px;
}
.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.container.blur {
  -webkit-filter: blur(6px);
  filter: blur(6px);
}
.toolbar {
  padding: 15px;
  display: flex;
  flex-direction: row;
  flex: 0 0 auto;
  white-space: nowrap;
  text-overflow: ellipsis;
  border-bottom: 1px solid rgba(255,255,255,0.10);
  -webkit-user-select: none;
  -webkit-app-region: drag;
}
.toolbar-left {
  flex: 1 1 auto;
  padding-left: 70px;
  overflow: hidden;
}
.toolbar-right {
  flex: 0 0 auto;
}

.info-group {
  display: inline-block;
  margin-right: 15px;
}
.info-group label {
  color: #aaa;
  font-size: 11px;
}
@media screen and (max-width: 1024px) {
  body {
    font-size: 12px;
  }

  /*.info-group {
    font-size: 11px;
  }
  .info-group label {
    font-size: 10px;
  }
  .settings {
    zoom: 0.85;
  }*/
}


.canvas {
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
  padding: 0;
  /*border-top: 1px solid #000;*/
  align-items: center;
  position: relative;
}
.canvas .column {
  position: absolute;
  left: 0;
  width: 50%;
  top: 0;
  bottom: 0;
  box-sizing: border-box;
}
.canvas .column .preview-header {
  /*height: 30px;*/
  /*background: lime;*/
  line-height: 33px;
  padding-left: 10px;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(255,255,255,0.10);

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;

}
.canvas .column .preview-header .preview-header-title {
  flex: 1 1 auto;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.canvas .column .preview-header .preview-header-buttons {
  flex: 0 1 auto;
  display: flex;
}
.canvas .column .preview-content {

  /*width: 50%;*/
  position: absolute;
  top: 33px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;

  /*display: flex;
  align-items: center;
  justify-content: center;*/
  /*display: flex;
  flex-direction: row;
  flex: 1 1 auto;
  background: red;*/
  /*height: 100%;*/
  /*width: 50%;*/
  /*overflow: auto;*/
  /*flex: 1 0 auto;
  overflow: auto;
  flex-direction: column;
  display: flex;*/
}
/*.zoom-hidden {
  position: absolute;
  top:0;
  left: 0;
  right:0;
  bottom:0;
  background: red;
}*/
.preview-container {
  position: relative;
  margin: auto;
  /*top: 50%;*/
  transition: width 0.25 linear, height 0.25 linear;
  /*padding-top: 15px;*/
  /*padding-left: 15px;*/
}
.preview-loader {
  position: relative;
  top: 5px;
}
.preview-content img {
  transform: none;
  image-rendering: pixelated;

}
.canvas .column .preview-content .preview {
  margin: auto;
  position: relative;
  background: #000;
  line-height: 0;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  cursor: crosshair;
  transition: width 0.25 linear, height 0.25 linear;
/*padding-top: 56%;*/
}
.preview img {
  /*width: 100%;*/
  transform: none;
  image-rendering: pixelated;
}
/*.canvas .column h3 {
  font-weight: bold;
  font-size: 16px;
  color: #9C9C9D;
}*/
.canvas .column-source {
  /*margin-right: 15px;*/
  border-right: 1px solid rgba(255,255,255,0.10);
}
.canvas .column-source .preview-header {
  /*border-right: 1px solid rgba(255,255,255,0.10);*/
}
.canvas .column-output {
  /*margin-left: 15px;*/
  left: 50%;
}
.canvas .column-solo {
  left: 0;
  width: 100%;
}

.settings {
  display: flex;
  flex: 0 1 auto;
  /*min-height: 100px;*/
  /*background-color: rgba(100,100,100,0.10);*/
  padding: 15px;
  flex-direction: row;
  /*overflow-y: auto;
  overflow-x: hidden;*/
  /*border-bottom: 1px solid #333;*/
  border-bottom: 1px solid rgba(255,255,255,0.10);

}

.settings-column {
  flex: 1 1 50%;
}

.settings-palette {
  margin-left: 15px;
  /*flex: 0 1 40%;*/
}
.settings-output {
  margin-left: 15px;
}
.timeline {
  display: flex;
  flex: 0 1 auto;
  padding: 15px;
  /*height: 80px;*/
  border-top: 1px solid rgba(255,255,255,0.10);
  /*border-top: 1px solid #1a1a1a;*/
  /*background-color: rgba(100,100,100,0.15);*/
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.timeline-scrubber {
  flex: 1 1 auto;
  padding: 15px 0;
}
.timeline-controls {
  padding: 0 30px;
  flex: 0 1 auto;
}
.timeline-controls button,
.timeline-controls .btn {
  font-size: 18px;
}

.info-table {
  font-size: 12px;
  width: 100%;
  margin-top: 20px;
}
.info-table th,
.info-table td {
  padding: 5px;
}
.info-table th {
  width: 100px;
  text-align: right;
  color: #777;
}
.settings h5 {
  display: block;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 10px;
  font-weight: normal;
  color: #aaa;
}
.form-row {
  clear: both;
  margin-bottom: 10px;
  vertical-align: top;
  /*justify-content: space-between;*/
  /*display: flex;*/
}
.form-group {
  /*min-width: 120px;*/
  vertical-align: top;
  /*margin-right: 30px;*/
  /*margin-bottom: 15px;*/
  width: 33%;
  float: left;
  margin-bottom: 15px;
}
.form-group label:not(.checkbox) {
  font-size: 12px;
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
@media screen and (max-width: 1024px) {
  .form-group {
    width: 50%;
  }
}
.form-inline .form-group {
  width: auto;
  margin-right: 20px;
}
.form-inline .form-group label {
  /*display: inline-block;*/
}
.form-inline input[type='range'] {
  display: inline-block;
  width: auto;
}
.checkbox {
  display: inline-block;
  /*line-height: 33px;*/
  white-space: nowrap;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1em;
  margin: 1px 0;
  /*background-color: #202021;*/
  /*border: 1px solid #202021;*/
  color: #eee;
  padding: 7px;

}
.checkbox input[type='checkbox'] {
  margin: 0;
  padding: 0;
}
input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 5px 0;
  display: block;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #323232;
  /*border-radius: 25px;*/
  border: 0px solid #010101;
  /*margin: 0 10px;*/
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px;
  height: 20px;
  width: 20px;
  background-color: #46CCF3;
  /*border-top: 9px solid #46CCF3;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;*/

  border-radius: 20px;
  /*background: #46CCF3;*/
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #3f3f3f;
}
input[type=range].big::-webkit-slider-thumb {
  height: 24px;
  width: 24px;
}

input[type='text'],
input[type='number'] {
  outline: none;
  min-width: 50px;
  width: 80px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1em;
  background-color: #202021;
  border: 1px solid #202021;
  color: #eee;
  padding: 7px;
  transition: border 0.25s ease-out;
}
input[type='number'] {
  width: 50px;
}
input[type='text']:hover,
input[type='number']:hover {

}
input[type='text']:focus,
input[type='number']:focus {
  border-color: #46CCF3;
}
.select {
  position: relative;
  display: inline-block;
}
.select select,
.custom-select {
  background-color: #19191A;
  color: #eee;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
}
.select select {
  border: 1px solid #19191A;
  padding: 7px;
  outline: none;
  -webkit-appearance: none;
  border-radius: 0;
  transition: border 0.45s ease-in-out;
  min-width: 120px;
}
.select select:focus,
.select select:focus {
  border-color: #46CCF3;
}

.select:after,
.custom-select:before {
  content: '';
  position: absolute;
  top: 50%;
  margin-top: -3px;
  right: 6px;
  width: 0;
  height: 0;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  border-top:  6px solid #fff;
}

.custom-select {
  position: relative;
  display: inline-block;
  min-width: 80px;
  padding: 0 15px 0 10px;
}
.custom-select select {
  opacity: 0;
  width: 100%;
  position: absolute;
  top:0;
  left: 0;
  outline: none;
  -webkit-appearance: none;
  height: 30px;

}

.overlay-bg {
  background-color: rgba(0,0,0,0.75);
  position: fixed;
  top:0px;
  left:0;
  height: 100vh;
  width: 100vw;
}
.overlay-body {
  max-width: 500px;
  margin: 80px auto 0 auto;
  background: #302F31;
  padding: 30px;
}
.drag-overlay {
  box-sizing: border-box;
  pointer-events: none;
  background-color: rgba(0,0,0,0.25);
  border: 5px solid #46CCF3;
  position: absolute;
  z-index: 99;
  top:0px;
  left:0;
  height: 100vh;
  width: 100vw;
}

.overlay-drag {
  background: none;
  border: 3px dashed #302F31;
  border-radius: 10px;
}
.progress {
  display: block;
  position: relative;
  width: 100%;
  height: 20px;
  background: #000;
}
.progress .progress-fill {
  display: block;
  transition: background-color 1.0s ease-out, width 0.5s ease-out;
  background-color: #46CCF3;
  height: 20px;
  width: 0%;
}
.progress .progress-fill.progress-success {
  background-color: #71E8B9;
}
.text-success {
  color: #71E8B9;
}


.overlay-body h3 {
  margin: 0 0 20px 0;
  padding: 0;
}

.text-center {
  text-align: center;
}

.pixel {
  display: inline-block;
  width: 12px;
  height: 12px;
  line-height: 0;
  /*margin-right: 2px;*/
}

.pull-right {
  float: right;
}
button.pull-right, .btn.pull-right {
  margin-left: 5px;
}
.pull-left {
  float: left;
}

.pixel-palette {
  /*width: 50%;*/
  /*min-height: 120px;*/
  /*position: relative;*/
}
.pixel-palette .colorpicker:before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  margin-top: -9px;
  border-bottom: 10px solid #343435;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  position: absolute;
  left: 50%;
  margin-left: -5px;

}
.pixel-palette .colorpicker {
  background: #343435;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 9999;
  display: none;
  width: 175px;
  margin-left: -86.5px;
  margin-top: 8px;
}
.pixel-palette .colorpicker.open {
  display: block;
}

.pixel-large {
  display: inline-block;
  width: 50px;
  height: 50px;
}

pre {
  white-space: normal;
  word-wrap: break-word;
  display: inline-block;
  width: 600px;
  height: 80px;
  text-overflow: ellipsis;
  position: relative;
  overflow: hidden;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
  background: transparent;
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
}

::-webkit-scrollbar-thumb {
  background-color: #323232;
  border: none;
  outline: none;
  /*outline: 1px solid slategrey;*/
  border-radius: 20px;
}
::-webkit-scrollbar-corner       {
  background-color: transparent;
}
