<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Hello World!</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="stylesheet" type="text/css" href="../node_modules/@claviska/jquery-minicolors/jquery.minicolors.css" />
  </head>
  <body ng-app="gifwhiz" ng-controller="main" ng-cloak drag-drop>
    <div class="container" ng-class="{blur:overlayOn()}">

      <div class="toolbar">
        <div class="toolbar-left">
          <div class="info-group">
            <label>Filename</label>
            <div class="info-value">{{currentSource.source.file.name}}</div>
          </div>
          <div class="info-group">
            <label>Duration</label>
            <div class="info-value">{{currentSource.stream.duration|number:1}}s</div>
          </div>

          <div class="info-group">
            <label>Framerate</label>
            <div class="info-value">{{(currentSource.stream.r_frame_rate||currentSource.stream.avg_frame_rate)|framerate:true}}</div>
          </div>
          <div class="info-group">
            <label>Resolution</label>
            <div class="info-value">{{currentSource.stream.width}}&times;{{currentSource.stream.height}}</div>
          </div>

          <!-- <button class="btn-default" file-input-button>Select Source</button> -->
        </div>
        <div class="toolbar-right">
          <button class="btn-default" ng-class="{active:numColumns==2}" ng-click="numColumns=2" title="2 Up">
            <span class="icon-layout13"></span>
          </button>
          <button class="btn-default" ng-class="{active:numColumns==1}" ng-click="numColumns=1" title="1 Up">
            <span class="icon-layout8"></span>
          </button>
          <button class="btn-default" file-input-button>
            <span class="icon-file-video"></span> Change Source
          </button>
          <button ng-click="export()" class="btn-primary" ng-disabled="!currentSource.thumbnail.output">
            <span class="icon-floppy-disk"></span>
            Export GIF
          </button>
        </div>
      </div>
      <div class="settings">

        <div class="settings-column settings-output">
          <h5>GIF Settings</h5>
          <div class="form-row">

            <div class="form-group">
              <label>Dimensions</label>
              <input type="number" ng-change="widthChange()" min="16" max="2000" ng-model="prefs.width" />
              &times;
              <input type="number" ng-change="heightChange()" min="16" max="2000" ng-model="prefs.height" />
            </div>
            <!-- <div class="form-group">
              <label>Height</label>

            </div> -->

            <div class="form-group">
              <label>Lock Aspect</label>
              <label class="checkbox">
                <input type="checkbox" ng-model="prefs.aspect_lock" />
                <span ng-class="{'text-muted':prefs.aspect_lock}">{{prefs.aspect|number:2}} ({{prefs.aspect|ratio}})</span>
              </label>
            </div>

            <div class="form-group">
              <label>FPS</label>
              <input type="number" min="10" max="240" ng-model="prefs.fps" /><span class="input-addon">fps</span>
            </div>

          <!-- </div>
          <div class="form-row"> -->


            <div class="form-group">
              <label>Stats Mode</label>
              <span class="select"><select ng-options="stats for stats in statsModes" ng-model="prefs.stats_mode"></select></span>
            </div>
            <div class="form-group">
              <label>Dither Mode</label>
              <span class="select"><select ng-options="dither for dither in ditherModes" ng-model="prefs.dither_mode"></select></span>
            </div>

            <div class="form-group" ng-if="prefs.dither_mode=='bayer'">
              <label>Bayer Scale</label>
              <input type="number" min="0" max="5" ng-model="prefs.bayer_scale" />
            </div>


          </div>


        </div>
        <div class="settings-column settings-palette">

          <h5>Color Palette</h5>
          <div class="form-row form-inline">

              <!-- <label>Palette</label> -->
              <!-- <pre>{{colorPalette}}</pre> -->
              <!-- <img ng-src="data:image/png;base64,{{colorPalette}}" style="image-rendering: pixelated;" width="100" /> -->
              <!-- <div class="form-inline"> -->
                <div class="form-group">
                  <label>Colors</label>
                  <input type="range" min="4" max="256" ng-model="prefs.colors" />
                  <input type="number" min="4" max="256" ng-model="prefs.colors" />
                </div>
                <div class="form-group">
                  <label>&nbsp;</label>
                  <label class="checkbox">
                    <input type="checkbox" ng-model="prefs.transparency" />
                    Alpha Channel
                  </label>
                </div>

              <!-- </div> -->


          </div>
          <div class="form-row">
            <div pixel-palette data-colors="prefs.colors"></div>
          </div>

        </div>


      </div>

      <div class="canvas">
        <div class="column column-source" ng-show="numColumns==2">
          <div source-preview data-title="'Source: '+currentSource.source.file.name" data-working="currentSource.source.working" data-width="currentSource.stream.width" data-height="currentSource.stream.height" data-thumbnail="currentSource.thumbnail.source"></div>
        </div>
        <div class="column column-output" ng-class="{'column-solo':numColumns==1}">
          <!-- <div class="preview-header"> -->
            <!-- GIF -->
            <!-- <div class="pull-right"> -->
              <!-- <input type="range" id="zoom-output" /> -->
              <!-- {{zoom.output*100|number:1}} -->
              <!-- <span class="select"><select ng-options="zoom.value as zoom.label for zoom in zooms" ng-model="zoom.output"></select></span> -->
            <!-- </div> -->
          <!-- </div> -->
          <div source-preview data-title="'GIF: '+currentSource.source.file.name" data-working="currentSource.output.working" data-width="prefs.width" data-height="prefs.height" data-thumbnail="currentSource.thumbnail.output"></div>
        </div>
      </div>
      <div class="timeline" frame-scrubber data-duration="currentSource.stream.duration" data-framerate="prefs.fps"></div>
    </div>

    <div class="overlay-bg" ng-show="!currentSource.source.file||exportStatus.status>0">
      <div class="overlay-body overlay-drag text-center" ng-if="!currentSource.source.file">
        <p>Select a video file or drag one onto the window</p>
        <button class="btn-primary btn-lg" file-input-button>
          <span class="icon-file-video"></span>
          Select Video File
        </button>
      </div>

      <div class="overlay-body" ng-if="exportStatus.status>0">

            <h3>Export {{exportStatus.filename}}</h3>
            <div class="progress">
              <div class="progress-fill" ng-class="{'progress-success':exportStatus.status==2}" ng-style="{width:exportStatus.progress+'%'}"></div>
            </div>
            <p ng-if="exportStatus.status==1">
              <button ng-click="cancelExport()" class="btn-default pull-right">Cancel</button>
              <span>Writing Frame <strong>{{exportStatus.frame|number:0}}</strong> of <strong>{{exportStatus.totalFrames|number:0}}</strong></span>
            </p>
            <p ng-if="exportStatus.status==2">
              <button ng-click="resetExport()" class="btn-primary pull-right">
                <span class="icon-checkmark"></span>
                Close
              </button>
              <button ng-click="previewGif()" class="btn-default pull-right">
                <span class="icon-eye"></span>
                Preview
              </button>
              <button ng-click="finderReveal()" class="btn-default pull-right">
                <span class="icon-folder-open"></span>
                Reveal in Finder
              </button>
              <strong class="text-success">Export Complete!</strong>
            </p>
            <!-- <pre>{{exportStatus|json}}</pre>             -->
          </div>
        </div>
      </div>

    </div>
    <div class="drag-overlay" ng-if="dragActive"></div>
    
    <div class="preview-overlay" ng-if="previewGifSrc">
      <div class="gif-close">
        <button class="btn-primary pull-right" ng-click="closePreview()">
          <span class="icon-file-video"></span>
          Close
        </button>
        <p>
          {{previewGifSrc|basename}}
        </p>
      </div>
      <div class="gif-preview">
        <p>
          <img ng-src="{{previewGifSrc}}" width="100%" />
        </p>
      </div>

    </div>
  </body>

  <script>
    // You can also require other files to run in this process
    require('./renderer.js')
  </script>
</html>
