<!DOCTYPE html>
<html ng-app="giftuna">
  <head>
    <meta charset="UTF-8">
    <title>GifTuna</title>
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/slider.css" />
    <link rel="stylesheet" href="lib/minicolors/jquery.minicolors.css" />
  </head>
  <body ng-controller="gifSettings" ng-cloak>
    <div class="app">

      <div class="section settings-form">
        <h3 class="section-title">Input File</h3>
        <div class="form-group">
          <div class="form-control">
            <a ng-if="!settings.file.input" class="btn" ng-model="settings.file.input" input-select>Select File</a>
            <a ng-if="settings.file.input" ng-class="{disabled:status.state>0&&status.state<5}" class="input" href ng-model="settings.file.input" input-select>
              {{settings.file.input.name}}<span class="change-it">Change</span>
            </a>
          </div>
        </div>

        <h3 class="section-title">Output Options</h3>
        <div class="form-group form-group-inline">
          <h5>Dimensions</h5>
          <div class="form-control">
            <input type="number" ng-disabled="status.state<5" ng-model="settings.dimensions.width" ng-blur="refreshDimension('width')" ng-change="widthChange()" min="1" />
            &times;
            <input type="number" ng-disabled="status.state<5" ng-model="settings.dimensions.height" ng-blur="refreshDimension('height')" ng-change="heightChange()" min="1" />
          </div>
        </div>

        <div class="form-group form-group-inline">
          <h5>Lock Aspect</h5>
          <div class="form-control">
            <label><input type="checkbox" ng-disabled="status.state<5" ng-model="settings.dimensions.lock" /> {{settings.dimensions.ratio|ratio}}</label>
          </div>
        </div>
        <div class="form-group">
          <h5>FPS</h5>
          <div class="form-control">
            <input type="number" ng-disabled="status.state<5" ng-blur="refreshFps()" ng-model="settings.fps" />
          </div>
        </div>

        <!-- <h6>Color Options</h6> -->
        <h3 class="section-title">Dither Options</h3>
        <div class="form-group form-group-inline">
          <h5>Dither</h5>
          <div class="form-control">
            <label><input type="checkbox" ng-disabled="status.state<5" ng-model="settings.color.dither" ng-change="refreshThumbnail()" /> {{settings.color.dither?'Yes':'No'}}</label>
          </div>
        </div>
        <div class="form-group form-group-inline">
          <h5>Dither Grid</h5>
          <div class="custom-select" ng-class="{disabled:!settings.color.dither||status.state<5}">
            <select ng-model="settings.color.dither_scale" ng-change="refreshThumbnail()" ng-disabled="!settings.color.dither||status.state<5">
              <option ng-value="0">0</option>
              <option ng-value="1">1</option>
              <option ng-value="2">2</option>
              <option ng-value="3">3</option>
              <option ng-value="4">4</option>
              <option ng-value="5">5</option>
            </select>
          </div>
        </div>
        <div class="form-group form-group-inline">
          <h5>Palette Mode</h5>

          <div class="custom-select" ng-class="{disabled:status.state<5}">
            <select ng-change="refreshPalette()" ng-disabled="status.state<5" ng-model="settings.color.stats_mode">
              <option value="full">Full</option>
              <option value="diff">Frame Difference</option>
            </select>
          </div>

          <!-- <div class="form-control">
            <label>
              <input type="radio" ng-model="settings.color.stats_mode" value="full" /> Full
            </label>
            <label>
              <input type="radio" ng-model="settings.color.stats_mode" value="diff" /> Diff
            </label>
          </div> -->
        </div>
        <div class="form-group form-group-inline">
          <h5>Stats Mode</h5>

          <div class="custom-select" ng-class="{disabled:status.state<5}">
            <select ng-change="refreshPalette()" ng-disabled="status.state<5" ng-model="settings.color.diff_mode">
              <option value="rectangle">Rectangle</option>
              <option value="none">None</option>
            </select>
          </div>

        </div>



        <h3 class="section-title">Color Palette</h3>
        <div class="form-group">
          <h5>Colors</h5>
          <div class="form-control">
            <div class="custom-range">
              <div class="custom-range-value"><input type="number" ng-disabled="status.state<5" min="16" max="256" ng-blur="refreshPalette()" ng-model="color_value" /></div>
              <div class="custom-range-input">
                <input type="range" min="16" step="2" max="256" ng-disabled="status.state<5" ng-mouseup="refreshPalette()" ng-model="settings.color.count" />
              </div>
            </div>
          </div>
        <!-- </div> -->
        <!-- <div class="form-group"> -->
          <!-- <h5>Color Palette</h5> -->
          <div class="form-control palette-control">
            <div pixel-palette ng-model="palette" data-max-colors="settings.color.count"></div>
          </div>
        </div>

        <!-- <pre>{{frames|json}}</pre>
        <pre>{{settings|json}}</pre> -->
      </div>


      <div class="section preview">
        <div class="top-header">
          <div class="scrubber" frame-scrubber data-frames="frames.max" data-disabled="status.state<5" ng-model="frames.current"></div>
          <div class="export">
            <a ng-class="{disabled:status.state<5}" ng-click="export()" class="btn btn-primary">Export</a>
          </div>
        </div>
        <!-- <h3 class="section-title">Preview</h3> -->
        <div class="progress-canvas" ng-if="status.state==4">
          <div class="progress">
            <div class="progress-fill" ng-class="{finished:status.export.progress==100, spin:status.export.canceling}" ng-style="{width:status.export.progress+'%'}"></div>
          </div>

          <div class="progress-info">
            <div class="progress-text" ng-class="{finished:status.export.progress==100}">
              <span class="progress-text-percent" ng-show="status.export.progress<100&&!status.export.canceling">{{status.export.progress|number:1}}%</span>
              <span ng-if="status.export.progress==100">Complete</span>
              <span ng-if="status.export.canceling">Canceling</span>
              <span class="progress-text-size">{{status.export.size|filesize}} <span ng-show="status.export.progress<100">written</span></span>
            </div>
            <div class="progress-action">
              <div ng-show="status.export.progress<100">
                <a class="btn" href ng-click="cancelExport()">Cancel</a>
              </div>
              <div ng-show="status.export.progress==100">
                <a class="btn" href ng-click="reveal()">Show in Finder</a>
                <a class="btn" href ng-click="preview()">Preview</a>
                <a class="btn btn-primary" href ng-click="exportDone()">Done</a>
              </div>
            </div>
          </div>

          <!-- <pre>{{status|json}}</pre> -->
        </div>
        <div class="progress-canvas" ng-if="status.state > 0 && status.state < 4">

          <div class="progress-canvas-container">
            <div ng-include="'tpl/loader.html'"></div>
            <div class="progress-palette" ng-if="status.state==1">
              <h4>Scanning Input</h4>
            </div>
            <div class="progress-palette" ng-if="status.state==2">
              <h4>Generating Color Palette</h4>
              <p>This could take a while for longer gifs...</p>
              <hr />
              <p><a ng-click="cancel(true)" class="btn">Cancel</a></p>
            </div>
            <div class="progress-palette" ng-if="status.state==3">
              <h4>Generating Preview</h4>
            </div>

          </div>

        </div>
        <div class="preview-canvas" ng-if="status.state==5">
          <img class="preview-img" ng-if="thumbnail!=null" ng-src="{{thumbnail}}" ng-style="{'max-width':settings.dimensions.width+'px'}" />
        </div>
        <!-- <div class="preview-canvas" gif-preview></div> -->
      </div>
    </div>
  </body>
  <script>
    // You can also require other files to run in this process
    require('./renderer.js')
  </script>
</html>
